
.Menu-Container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color:black;
    max-width: 330px;
    min-width: 330px;
    max-height: 658px;
    min-height: 658px;
    padding-top: 12px;
    position: absolute;

}

.boton-tweet{
    display: flex;
    cursor: pointer;
    background-color: #1d9bf0;
    width: 200px;
    height: 45px;
    border-radius: 9999px;
    margin-top: 8px;
    margin-left: 8px;
    justify-content: center;
    
}

.perfil-container{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: black;
    width: 200px;
    height: 125px;
    margin-top: 58px;
    margin-left: 8px;
    justify-content: space-around;
}

.perfil-p-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.image_profile{
    display:flex;
    align-self: center;
    height:54px;
    width: 54px;
    border:0;
    background-size: 54px ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 999px;
}

.perfil-text-container{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: black;
    margin-top: 8px;
    margin-left: 8px;
    justify-content: center;
}

.Boton-Container{
    
    display: flex;
    cursor: pointer;
    min-width: 200px;
    max-width: 200px;
    min-height: 58px;
    max-height: 58px;
    border: 1px;
}



.Icon-container{
    display:flex;
    align-self: center;
    height:54px;
    width: 54px;
    border:0;
    background-size: 32px ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(500%) contrast(100%);
}

.Icon-container2{
    display:flex;
    align-self: center;
    height:54px;
    width: 54px;
    border:0;
    background-size: 40px ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(500%) contrast(100%);
}

.Icon-container3{
    display:flex;
    align-self: center;
    height:54px;
    width: 54px;
    border:0;
    background-size: 25px ;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(500%) contrast(100%);
}

p{
    display: flex;
    color: white;
    align-self: center;
    min-height: 20;
    margin-top: 6.5;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
}


.arroba{
    display: flex;
    color: white;
    align-self: center;
    min-height: 20;
    align-self: center;
    font-size: 16px;
    font-weight: bold;
}





