.container {
    display: flex;
    flex: 1;
    background-color: #242d34;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: black;
    height: 650px;
    width: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-container {
    flex: 7;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.inputs {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.input {
    width: 400px;
    height: 30px;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: 0px solid blue;
}

.input2 {
    width: 400px;
    height: 50px;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    outline: 0px solid blue;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    background-color: black;
    border: 1px solid #26282b;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}



.input-container > p {
    font-size: 14px;
    color: #575b5f;
    height: 5px;
}

.header {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 0;
}

.logo {
    display:flex;
    align-self: center;
    height: 40px;
    width: 40px;
    border-radius: 0px;
    background-size: 40px ;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none;
}

.select-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #26282b;
}

.selector{
    border: 0;
    background-color: black;
    border-radius: 10px;
    height: 40px;
    width: 400px;
    outline: 0px;
    cursor: pointer;
}

.country-selector{
    font-size: 14px;
    color: #575b5f;
    height: 30px;
    width: 400px;
}

.error {
    margin-top: 50px;
    text-align: center;
    background-color: #52a9e8;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}