.container-hashtags {
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hashtag-header {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.hashtags1 {
    flex: 3;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.grid-container2 {
    width: 70%;
    flex: 1;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    grid-auto-flow: row;
}

.grid-container2 > div {
    margin-left: 120px;
    font-size: 18px;
    margin-bottom: 5px;
}

.fan-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-fan {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 20px;
}