.container {
    display: flex;
    flex: 1;
    background-color: #242d34;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    background-color: black;
    height: 650px;
    width: 600px;
    border-radius: 15px;
}