.LikesA-container {
    display: flex;
    flex: 1;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_likes{
    display: flex;
    font-size: medium;
}

.number_likes{
    display: flex;
    font-size: xx-large;
}


