.container-home {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: black;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.menu-container-home {
    flex: 1;
}

.info-container {
    flex: 1;
    max-width: 600px;
}
.back {
    height: 50px;
    display: flex;
    align-items: center;
    border-right: 1px solid gray;
}

.back p{
    font-weight: bold;
    font-size: 16px;  
}

.back-arrow {
    height: 32px;
    width: 32px;
    background-image: url('../../assets/flecha.jpg');
    background-size: contain;
    cursor:pointer;
}

.banner {
    background-image: url('../../assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height : 200px;
    display: flex;
    align-items: flex-end;
}

.profpic {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background-size: contain;
    
}

.info {
    height : 100px;
    display: flex;
    border: 1px solid gray;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.infotop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-size: 24px;
    font-weight: bold;
}

.desc {
    font-size: 14px;
}
.feed-container {
    flex: 1;
    max-width: 600px;
}

.yours {
    height: 30px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.yours-item {
    cursor: pointer;
}

.yours-item:hover {
    color: blue;
    text-decoration: underline;
}

.extra {
    flex: 1;
    width: 100%;
}

.edit{
    height: 30px;
    border: 1px solid gray;
    display: flex;
}

.peditar {
    color: #1d9bf0;
    font-size: 15px;
    cursor: pointer;
}